<!DOCTYPE html>
<html lang="en" ng-app="hustlemeter">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>


    <div class="container">

        <div class="row">
            <div class="span12" ng-view>
                <%= yield %>
            </div>
        </div>
    </div>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/js/vendor/highcharts.js"></script>
    <script src="/js/vendor/highcharts-ng.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
</body>
</html>
